# ข้อสอบกลางภาค
## วิชาการเขียนโปรแกรมเชิงวัตถุ
## ประจำภาคการศึกษา 2/2566

### สอนโดย ผู้ช่วยศาสตราจารย์พิศาล สุขขี

คำชี้แจง ข้อสอบแบ่งออกเป็น 2 ส่วน (รวม 30 คะแนน)

ส่วนที่ 1 : ทดสอบความรู้ความเข้าใจพื้่นฐานการเขียนโปรแกรมภาษาไพธิน 10 ข้อ ข้อละ 2 คะแนน (รวม 20 คะแนน)

ส่วนที่ 2 : ทดสอบการประยุกต์แก้ไขปัญหาโจทย์โปรแกรม 2 ข้อ ข้อละ 5 คะแนน (รวม 10 คะแนน)

นาย สรรพสิทธิ์ ยาเคน 661272132

<hr>

# ส่วนที่ 1 ข้อละ 2 คะแนน

### 1. กำหนดให้ a = 0.5155675 จงแสดงค่าของตัวแปร a ในรูปแบบทศนิยม 2 ตำแหน่ง

In [22]:
# คำตอบ
a = 0.5155675
print("a : {0:.2f} ".format(a))

a : 0.52

## 2. กำหนดให้นิพจน์คณิตศาสตร์ 

$ 1 + 6 \times 8 - 7 $

มีผลลัพธ์ของการดำเนินการเท่ากับ 7

แสดงแทนนิพจน์ด้านบนด้วยโปรแกรมโปรแกรมภาษาไพธอนที่ให้ค่าลัพธ์ตามที่กำหนด

In [65]:
result = 1 * 6 + 8 - 7
print(result)

7

## 3. จงแทนนิพจน์คณิตศาสตร์ต่อไปนี้ให้เป็นโปรแกรมภาษาไพธอน

$ \frac{5 + 6^{2.5}}{\sqrt[2]{3.5}} + 3^2 $

In [47]:
import math

result = 5 + 62.5 * 3.5 * math.sqrt(2) + 3**2
print(result)

323.35921676911454

## 4. การดำเนินการกับลิสต์

my_list = [10, 20, 30, 40, 50, 60, 70, 80, 90, 100]

จงเลือกสมาชิกตัวที่ 2 จนถึงตัวที่ 5

In [55]:
my_list = 10, 20, 30, 40, 50, 60, 70, 80, 90, 100
selected_items = my_list[1:5]
print(selected_items)

(20, 30, 40, 50)

## 5. จงแปลงข้อมูลต่อไปนี้ให้อยู่ในรูปของ Dictionary

| รหัสนักศึกษา | ชื่อ |           สกุล           |
|:---------:|:--------:|:--------------------------:|
|    6612732101    |  นายกรวีร์     |           จูมจันทร์          |
|    6612732102    |  นายกฤษณ     |           สุขไชยญาติ          |
|    6612732103    |  นายกิตตินันท์   | สองศร |

In [12]:
student_dict = {
    '6612732101' : {
            'prefix' : 'นาย',
            'first_name' : 'กรวีร์',
            'last_name' : 'จูมจันทร์'
    },
    '6612732101' : {
            'prefix' : 'นาย',
            'first_name' : 'กฤษณ',
            'last_name' : 'สุขไชยญาติ'
    },
    '6612732101' : {
            'prefix' : 'นาย',
            'first_name' : 'กิตตินันท์',
            'last_name' : 'สองศร'
    }
   
}

## 6. จากข้อ 5 จงแสดงวิธีการเข้าถึงข้อมูลของ นายกิตตินันท์ สองศร

In [19]:
for key in student_dict.keys():
    print("{} {} {} {} ".format(
        key,
        student_dict.get(key).get("prefix"),
        student_dict.get(key).get("first_name"),
        student_dict.get(key).get("last_name"),
    ))

6612732101 นาย กิตตินันท์ สองศร

## 7. จงพิจารณาเงื่อนไขและพิมพ์ชุดคำสั่งแทนส่วนที่เว้นว่างไว้

จงตั้งเงื่อนไขเพื่อควบคุมการพิมพ์ชื่อของนักเรียนแต่ละคนและความสูงออกมา โดยจะพิมพ์ออกมาเฉพาะคนที่ชื่อนำหน้าด้วยตัวอักษรอื่น<u>**ที่ไม่ใช่**</u> `'A'` และ<u>**ไม่ใช่**</u> `'C'` และมีความสูงมากกว่า 160 เซนติเมตรเท่านั้น

In [56]:
student_names = ['Arm', 'Bobby', 'Cathy', 'Dorothy', 'Emily']
student_heights = [163.5, 150.0, 167.0, 161.25, 170.0]

for i in range(len(student_names)):
    if student_names[i][0] not in ['A', 'C'] and student_heights[i] > 160.0:
        print(student_names[i], ':', student_heights[i])

TypeError: 'int' object is not callable

## 8. โปรแกรมสูตรคูณอย่างง่าย

จงวนลูปเพื่อแสดงสูตรคูณแม่ 3 ไล่ตั้งแต่ 3×1 จนถึง 3×12 โดยจะได้ผลลัพธ์ดังนี้

3 * 1 = 3
3 * 2 = 6
3 * 3 = 9
:
:
:
3 * 12 = 36

In [104]:
for i in range(1, 13):
    result = 3 * i
    print(f"3 x {i} = {result}")

TypeError: 'int' object is not callable

## 9. เขียนฟังก์ชันเพื่อแยกชื่อ และนามสกุลออกจากัน พร้อมแสดงทางหน้าจอ

In [26]:
full_names = ['Harry Potter', 
              'Hermione Granger', 
              'Ronald Weasley']

In [90]:
# คำตอบ

# กำหนดฟังก์ชัน
def print_name(names):
    for name in names:
        print(name)


# กำหนดตัวแปร
full_names = ['Harry Potter', 
              'Hermione Granger', 
              'Ronald Weasley']

# เรียกใช้งานฟังก์ชัน
print_name(full_names)

Harry Potter
Hermione Granger
Ronald Weasley

## 10. จงแปลงขอความให้เป็นตัวอักษรเล็กทั้งหมด

In [17]:
my_str = 'Python Data Types: Dictionary - Exercises, Practice, Solution'

In [67]:
my_str = 'Python Data Types: Dictionary - Exercises, Practice, Solution'
lowercase_str = my_str.lower()
print(lowercase_str)

python data types: dictionary - exercises, practice, solution

<hr>

# ส่วนที่ 2 ข้อละ 5 คะแนน

## 11. โปรแกรมคำนวนภาษีมูลค่าเพิ่ม

จงเขียนโปรแกรม เพื่อคํานวณ หาภาษีมูลค่าเพิ่มของบริการ โดยให้มีการทำงานดังนี้ คือ รับราคาบริการ จากนั้นคำนวณหาค่าบริการที่รวมภาษีมูลค่าเพิ่มแล้ว และทำการแสดงผลดังตัวอย่าง

In [ ]:
# ตัวอย่างการทำงาน 1

Enter Service Price : 1000

Service Price
Price : 1000
Vat : 70
Total Price : 1070
 
Thank you.

# ตัวอย่างการทำงาน 2

Enter Service Price : 500

Service Price
Price : 500
Vat : 35
Total Price : 535
 

Thank you.

ข้อมูลเพิ่มเติม

1) สามารถหาภาษีมูลค่าเพิ่ม (Vat) ได้จากสูตร ราคาสินค้า * ( 7  / 100 )
2) ราคารวมภาษีมูลค่าเพิ่ม หาได้จากสูตร ราคาสินค้า + Vat ที่หาได้

In [91]:
# คำตอบ
service_price = float(input("Enter Service Price: "))
vat = service_price * 0.07
total_price = service_price + vat
print("\nService Price")
print(f"Price : {service_price:.2f}")
print(f"Vat   : {vat:.2f}")
print(f"Total Price : {total_price:.2f}\n")

Enter Service Price:  1000

Service Price
Price : 1000.00
Vat   : 70.00
Total Price : 1070.00

## 12. โปรแกรมคำนวนค่าเรียนพิเศษ

จงเขียนโปรแกรมคำนวณค่าเรียนพิเศษของ ติวเตอร์คณิตศาสตร์ แห่งหนึ่ง โดย ติวเตอร์แห่งนี้ คิดค่าเรียนเป็นรายชั่วโมง

ชั่วโมงละ 450 บาท และจ่ายเป็นแบบครั้งต่อครั้ง

โดยให้โปรแกรมมีการรับค่าจำนวนช่วงโมงที่สอน และมีรูปแบบการทำงานและแสดงผลตามตัวอย่างต่อไปนี้

ตัวอย่างการทำงาน ครั้งที่ 1

RUN : ทดสอบด้วยการป้อนจำนวนชั่วโมงที่เรียนเป็น 5 ชั่วโมง

Enter Hour : 5
Total : 2250

ตัวอย่างการทำงาน ครั้งที่ 2

RUN : ทดสอบด้วยการป้อนจำนวนชั่วโมงที่เรียนเป็น 1 ชั่วโมง

Enter Hour : 1
Total : 450

In [103]:
# คำตอบ
hours = int(input("Enter Hour: "))
total_fee = hours * 450
print("\nTotal:", total_fee)

Enter Hour:  450

Total: 202500

<hr>

**ข้อให้ทุกคนโชคดีในการสอบ**<br>
ผู้ช่วยศาสตราจารย์พิศาล สุขขี<br>
สาขาวิทยาการคอมพิวเตอร์<br>
มหาวิทยาลัยราชภัฏศรีสะเกษ